body {
    background-color: #dbdbdb;
    font-size: 20px;
    font-family: myfont;
}
.main {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
@font-face {
    font-family: myfont;
    src: url(creepy.ttf) format("truetype");
}